.idea

# Application
/backend/web/app/plugins/*
/backend/!web/app/plugins/.gitkeep
/backend/web/app/mu-plugins/*/
/backend/web/app/themes/twentytwentyfive/
/backend/web/app/upgrade
/backend/web/app/uploads/*
/backend/!web/app/uploads/.gitkeep
/backend/web/app/cache/*

# WordPress
/backend/web/wp
/backend/web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/backend/vendor
auth.json

# WP-CLI
/backend/wp-cli.local.yml
